<mat-card>Ingrese los datos del paciente</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos" required formControlName="lastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number" maxlength="8">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dirección" formControlName="address">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" formControlName="phone" type="number" maxlength="10">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/paciente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>