<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Dni" [(ngModel)]="medico.dni">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="medico.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="medico.lastname">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="medico.cmp">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="medico.address">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Teléfono" [(ngModel)]="medico.phone">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>