<h2 class="mat-h2">Paciente: {{consulta.patient.name}} | Fecha de Consulta: {{consulta.date | date:'dd-MM-yyyy'}}</h2>
<mat-card class="example-card" *ngFor="let d of consulta.detailQuery">    
    <mat-card-header>        
        <mat-card-title>DIAGNOSTICO</mat-card-title>
        <mat-card-subtitle>{{d.treatment}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{d.treatment}}
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" *ngFor="let d of consulta.examList">    
        <mat-card-header>            
            <mat-card-title>EXAMENES</mat-card-title>
            <mat-card-subtitle>{{d.name}}</mat-card-subtitle>            
        </mat-card-header>
        <mat-card-content>
            <p>
                {{d.description}}
            </p>
        </mat-card-content>
    </mat-card>
<button mat-raised-button color="accent" (click)="cancelar()" style="float: right">Cerrar</button>