<div class="example-container">

    <!--Barra de la header-->
    <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogeado()">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <!--Nombre de la aplicación-->
        <h1 class="example-app-name">MediApp</h1>

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <!-- El #menu se engancha con lo declarado en el boton de arriba [matMenuTriggerFor]="menu"-->
        <mat-menu #menu="matMenu">
            <!--Perfil-->
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <!--Cerrar sesión-->
            <button mat-menu-item (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>

    </mat-toolbar>
    <!-- #END Barra de la header-->

    <mat-sidenav-container class="example-sidenav-container">

        <!-- el #sidenav toma el valor del mat-icon declarado en el header-->
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width: 200px">
            <img src="assets/mitocode.jpg" width="64">

            <!--Opciones de menú-->
            <div *ngFor="let m of menus">
                <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer">
                    <mat-icon>{{m.icono}}</mat-icon>
                    <span>{{m.nombre}}</span>
                </button>
                <mat-divider></mat-divider>
            </div>
            <!-- #END Opciones de menú-->
        </mat-sidenav>

        <!--Parte central de la página-->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>