<div class="example-container">

  <mat-toolbar>Búsqueda de Consulta</mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="buscar()">
    <mat-form-field>
      <input matInput placeholder="DNI" formControlName="dni">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Nombre Completo" formControlName="nombreCompleto"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaConsulta">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>
  </form>

  <div class="example-container mat-elevation-z8" >

    <mat-table [dataSource]="dataSource" >

      <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef > Paciente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patient.name}} {{element.patient.lastname}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef > Medico </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.doctor.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="speciality">
        <mat-header-cell *matHeaderCellDef > Especialidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.speciality.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef > Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date:'dd-MM-yyyy HH:mm:ss'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button type="button" mat-raised-button color="primary" (click)="verDetalle(element)">Ver Detalle</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>